<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>concours-fleches-tapestry Tapestry 5 Application</display-name>
	<context-param>
		<param-name>tapestry.app-package</param-name>
		<param-value>fr.egiov.concoursfleches.tapestry</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
         classpath:applicationContext-jpa.xml
      </param-value>
	</context-param>

	<servlet>
		<servlet-name>ExcelServlet</servlet-name>
		<servlet-class>fr.egiov.concoursfleches.servlet.ExcelServlet</servlet-class>
	</servlet>


	<filter>
		<filter-name>app</filter-name>
		<filter-class>org.apache.tapestry5.spring.TapestrySpringFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>app</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!--	<listener>-->
	<!--		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>-->
	<!--	</listener>-->

	<servlet-mapping>
		<servlet-name>ExcelServlet</servlet-name>
		<url-pattern>/excel/generer</url-pattern>
	</servlet-mapping>
</web-app>

